## Video Cutscene
*.bik

## Build generated
PreBuild/
Build/

## Custom Duplicate (expandmo98)
CustomCompileFiles/MOV/expandmo98_Vision/

## Custom Audio (.wav)
CustomCompileFiles/expandmo90/

## Temp Audio converter files
TempAudio/**/*
!TempAudio/**/
!TempAudio/**/.gitkeep
.vs/

## Log File
*_log.txt