## Fix Linguist
*.fx linguist-detectable=false
*.fxh linguist-detectable=false
*.hlsl linguist-detectable=false
*.py linguist-detectable=false
*.map linguist-language=ini
*.ini linguist-detectable=true