## Video Cutscene
*.bik

## Build generated
PreBuild/
Build/

## Custom Duplicate (expandmo98)
CustomCompileFiles/MOV/expandmo98_Vision/

## Custom Audio (.wav)
CustomCompileFiles/expandmo90/

## Fix Linguist
*.fx linguist-detectable=false
*.fxh linguist-detectable=false
*.hlsl linguist-detectable=false
*.map linguist-language=INI