Требования к некоторым файлам для компиляции (для корректного их воспроизведения в игре):

Файлы игровых звуков и музыкальных треков:

Основные понятия по аудиофайлам можно прочитать на https://modenc.renegadeprojects.com/Adding_A_Song.
Сделаю лишь некоторое уточнение, к которому я пришел после нескольких проб (попыток) добиться хорошего качества при небольшом весе файлов:

1) Используйте Audacity Portable (зачем инсталлировать, то что и так работает?) для конвертации в .wav закинув трек/звук в программу.
2) Для экспорта нажать "Ctrl + Shift + E".
3а) В настройках экспорта для звуков выбрать wav, частоту дискретизации 22050 Hz, канал Mono, 16 bit и кодирование - IMA ADPCM.
3б) В настройках экспорта для игровых треков выбрать wav, частоту дискретизации 44100 Hz (можно и 22050, но звук будет хуже, а оригинальные треки из MO тоже в 44100), канал не менять (по умолчанию Stereo) и кодирование - IMA ADPCM.
4) Готово, останется лишь прописать нужные звуки в soundmo.ini (fan_soundmo.ini) и треки в thememo.ini (fan_thememo.ini) соответственно.

Альтернатива: Просто воспользуйтесь ffmpeg и батником "toAudio.bat" из корневой директории проекта.

Примечание: 
Наборы звуков принято хранить в "сумках" (.bag), хотя с выходом Ares это изменилось и уже давно как звуки можно хранить прямо в .mix файлах.
Т.е. на выбор есть 2 варианта, я использую классический метод, т.к. благодаря Ares, файлы с "сумками" обзавелись индексами, по аналогии с .mix файлами (см. https://ares-developers.github.io/Ares-docs/new/misc/bagfiles.html?highlight=audio).
Большой плюс этого метода в том, что сумки можно запихнуть в mix-файлы более раннего порядка, но с высшим приоритетом, т.е. к примеру положить в expandmo09.mix файлы audio99.bag и audio99.idx, которые могут переопределить сумки в .mix более старших порядков, но с меньшим порядковым номером самих "сумок".
Мне это подходит как нельзя кстати. 
Минус этого метода в том, что придется копаться в RA2/RA2YR (или моде), чтобы достать оригинальные audio.bag и audio.idx, затем с помощью программы XCC Mixer => Launch => XCC Sound Editor => Open (указать на оригинальные audio.bag и audio.idx).
Потом, попав внутрь нашего audio.bag сносим там все на ноль, после чего размер файла audio.idx должен измениться, если это так значит все ОК. От файла audio.bag можно избавиться, он больше не нужен. Заместо него создаем пустой файл созданный из чего угодно с именем audio.bag.
Вот теперь все готово для создания кастомной "сумки", пустой файл индекса - audio.idx и наш из ничего созданный audio.bag по аналогии открываются в XCC Sound Editor и только теперь готовы принять новые файлы звуков... (хотя можно это все не делать и тупо дописывать в оригинальную сумку, но не рекомендую)
~~Второй минус этого способа - это ручная пересборка таких сумок, в отличии от тех же файлов упакованных в .mix, для которых есть инструменты CLI.~~ (Более не актуально благодаря https://github.com/Starkku/BagFileTool)

Доп. примечание: 
Кастомные файлы audioXX.bag и audioXX.idx необязательно хранить в .mix, достаточно положить их в корень игры.

Небольшой ликбез по работе с soundmo.ini и thememo.ini...
Пример основных параметров для soundmo.ini:

[SoundList]
+ = Имя регистрации звука/набора звуков // использование "+" для нумерации решает проблему поиска и продолжения последнего номера звука/набора звуков в списке для сборки, в которой правила раскиданы по нескольким файлам (к примеру soundmo.ini, fan_soundmo.ini и др.).

[Имя регистрации звука/набора звуков]
Sounds = имя wav-файла без расширения, требуется 22050 Hz, или несколько файлов разделенных пробелами (знак $ перед именем создает исключение для владельца, т.е. воспроизведение будет без звука для всех остальных)  
Control = метод воспроизведения, ограниченный следующими параметрами:
// ALL 			Воспроизводить все wav-файлы по порядку
// LOOP 		Воспроизводить первый звук в неслучайном порядке бесконечно, пока количество циклов не достигнет предела или звук не исчезнет
// RANDOM 		Воспроизведение звуков в случайном порядке
// PREDELAY 	Задержка воспроизведения на определенный период времени, если установлен тег Delay
// INTERRUPT 	Прерывать или нет другие звуки
// AMBIENT 		Заставить систему решить, что данный звуковой эффект является фоновым и не будет прерываться INTERRUPT
FShift = -3 3 ; // Верхний и нижний пределы сдвига частоты воспроизведения (т.е. в пределах от на 3% медленнее и на 3% быстрее, чем обычно)
Volume = 70 ; // Громкость (0-100)
Priority = NORMAL ; // Определить приоритет воспроизведения, LOWEST LOW NORMAL HIGH CRITICAL в порядке возрастания, по умолчанию NORMAL.
Delay = 0 1000 ; // Если установлено значение PREDELAY, возьмите случайное значение между верхним и нижним пределами, указанными здесь, в миллисекундах (отрицательные значения задержки могут быть использованы для того, чтобы сделать звук воспроизводимым только один раз за игру). 
Limit = 1 ; // Максимальное количество звуковых эффектов, которые могут воспроизводиться одновременно.

Пример основных параметров для thememo.ini:

[Themes]
+ = Имя регистрации трека // использование "+" для нумерации решает проблему поиска и продолжения последнего номера трека в списке для сборки, в которой правила раскиданы по нескольким файлам (к примеру thememo.ini, fan_thememo.ini и др.).

[Имя регистрации трека]
Name = имя переменной для названия трека (к примеру THEME:Morphscape), которое должно быть определено в одном из .csf файлов игры 
Sound = имя wav-файла трека без расширения
Normal = yes ; // определяет, указана ли эта тема в плейлисте игры (yes/no)
Length = 5.21 ; // указывает продолжительность воспроизведения трека (если надо воспроизвести лишь его часть)
Repeat = yes ; // используется вместо параметра Length, если не нужно указывать продолжительность воспроизведения и для зацикливания трека (yes/no)
Side = GDI ; // необязательный параметр, отвечающий за принадлежность трека к определенной фракции (GDI,Nod,ThirdSide,FourthSide)

Примечание: 
Для регистрации звука/набора звуков или треков в другом файле, нужно использовать конструкцию #incude в оригинальном файле правил (soundmo.ini,thememo.ini), пример:

[#include]
1=имя_файла.ini ; // где имя_файла.ini ваш файл с новыми звуками или треками

Доп. примечание: 
Ввиду некоторых ограничений платформы Ares (20000 переменных под текст) не стоит разбрасываться переменными для именования треков.
Можно давать имена трекам прямо в коде INI (без создания записи в таблице строк), используя префикс NOSTR:, к примеру: 

[FreezeLoop1X]
Name=NOSTR:Stranded in Space
Sound=vfreeze1
Normal=yes

В плеере игры трек будет отображаться как «Stranded in Space». Однако длина строки (включая префикс) не может превышать 31 символ.


Файлы игровых видеороликов:

См. проект Converted_BIK (https://github.com/YoVVassup/Converted_BIK), огромная благодарность DarK600 за за предоставленные Fullscreen cutscenes - AI-Upscaled - boosted to 30 FPS от RA2YR и RA2.


Файлы игровых аудиотреков:

С ростом размера коллекции дополнительных аудиотреков приходит нужда в их проверке на уникальность чтобы не дублировать уже имеющийся контент, т.к. вручную проверить такой объем информации довольно затруднительно стоит воспользоваться специальными программами для поиска дубляжей "по звукам".  
Для начала необходимо извлечь оригинальные и дополнительные аудиотреки Mental Omega (сам процесс описывать не буду, т.к. их mix файлы зашифрованы) из mix файлов expandmo94.mix и thememo.mix. Дополнительно сюда включаем аудиотреки из RA2 и RA2YR, которые объедены в файле `expandmo10.mix` после сборки или лежат в папке проекта в ```.\CustomCompileFiles\MOV\expandmo10```  
А также фанатские треки MOV expandmo90.mix, папке проекта в .\CustomCompileFiles\expandmo90 (после скачивания см. Сборка (https://github.com/YoVVassup/MOVision_Builder/tree/main?tab=readme-ov-file)).  
Я использую программу Similarity (https://www.similarityapp.com/), т.к. в ходе моих тестов она показала наилучшие результаты. (см. Текущее состояние аудиоколекции треков (https://raw.githubusercontent.com/YoVVassup/MOVision_Builder/main/Doc/Audiotest.jpg))  
